.bucket {
  display: flex;
  align-items: center;
  cursor: pointer;
  border-bottom: 1px solid lightgrey;
}

.bucket > div {
  display: flex;
  padding: 15px 10px;
  font-weight: 600;
}

.bucket .left {
  width: 65%;
}

.bucket .right {
  width: 35%;
}
